<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Nearly 13 years of experience in requirement analysis, software design, development, implementation, support and management for software like <br></br>
			Banking Finance Wealth Management, Real Estate and Insurance Solutions, Strategic Enterprise Solutions, Micro Services Architecture, Multi-Tier Distributed Architecture, e-Commerce / internet applications
            <ul>
            <li>Highly accomplished senior engineer with extensive expertise in cloud adoption, architectural design, and data operations. With a proven track record of delivering exceptional technical solutions. I possess the skills, experience, and insights to seamlessly transition applications, computing platforms, and data operations to the cloud.
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		<br>
	</div>
</div>
